/* BODY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
body {
    background-color: #0d1117;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans',sans-serif;
    color:aliceblue;
}

p {
  margin: 0 0 0 0;
}

a { 
  text-decoration: none;
  color: #f1f1f1;
  font-weight: bold;
 } 

/* MENU */

.menu {
    background-color: #161b22;
    height: 50px;
    vertical-align: middle;
    display: flex;
}

.logo {
  font-family: "Poppins", sans-serif;
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 50px;
  margin: 0px;
  padding-left: 320px;
}

.logo span {
  font-weight: 300;
}

.user-menu {
  height: 50px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  margin-right: 280px;
}

.menu-form {
  display: flex;
  align-items: center;
  margin-left: 50px

}

.user-menu-user {
  margin-right: 20px;
  display: flex;
  align-items: center;
}
.user-menu-pfp {
  width: 40px;
  border-radius: 20%;
  margin-right: 10px;
}

.user-menu-name {
  width: 50px;
}


/* INTRO */

.intro {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN */

.main1 {
    display: flex;
    background-color: #161b22;
    margin-top: 30px;
    border-radius: 10px;
    
}

/* User */

.user-post {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #30363d;
  width: fit-content;
  border-radius: 20px;
  margin-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;

}

.user-pfp {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    cursor: pointer;
    object-fit: cover;
}

.user-username {
    color:aliceblue;
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 5px;
}


/* Post */
.post {
  margin-bottom: 30px;
}

.posts {
  width: 700px;
  margin-left: 30px;
  margin-top: 20px;
}

.post-tags {
  display: flex;
  margin-bottom: 10px;
}

.post-tag {
  width:fit-content;
  background-color: #30363d;
  border-radius: 20px;
  margin-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
}

.post-text {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.post-image {
    height: 400px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

.post-bottom {
  align-items: center;
  margin-bottom: 20px;
}

.comments_and_date {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-comments {
  width: fit-content;
  background-color: #30363d;
  border-radius: 20px;
  margin-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.post-comments.active{
  width: fit-content;
  background-color: #7397c0;
  border-radius: 20px;
  margin-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.dateC {

}

.block-comments-one {
  background-color: #30363d;
  width: 100%;
  height: max-content;
  margin-bottom: 5px;
  padding: 10px;
}

.block-comments-one-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

}

.block-comments-one-user-pfp {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  cursor: pointer;
  object-fit: cover;
}

.block-comments-one-user-username {
  margin-left: 10px;
}

.block-comments-one-text-and-rating {
  display: flex;
  position: relative;
}

.block-comments-one-text {

}

.block-comments-one-rating {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
   /* Modal */

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  max-height: 700px;
  object-fit: contain;
  
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }


  /* TAGS */

  .tags-rightside {
    width: 300px;
    margin-top: 20px;
    text-align: right;
    margin-right: 20px;
  } 

  .tag-anime {
    height: 100px;
    width: 200px;
    margin-bottom: 10px;
    object-fit: cover;
  }
