/* BODY */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

body {
    background-color: #0d1117;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    color:aliceblue;
    width: 100%;
}

p {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

a { 
  text-decoration: none;
  color:aliceblue;
  
  margin: 0 0 0 0;
 } 

 form {
   margin: 0;
 }


/* INTRO */

.intro {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN */

.main1 {
    display: flex;
    margin-top: 30px;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    
}

/* User */

.user-post {
  display: flex;
  margin-bottom: 10px;
  border: 1px solid #30363d;
  width: fit-content;
  width: -moz-fit-content;
  border-radius: 20px;
  margin-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  
}

.user-post-delete-post-button {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  display: flex;
  z-index: 2;
  float: right;
  background: transparent;
  border: unset;
  cursor: pointer;
  color: aliceblue;
  font-size: 20px; 
  border-radius: 20px;
}

.user-post-delete-post-button:hover {
  background: #30363d;
}
.user-pfp {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    cursor: pointer;
    object-fit: cover;
    display: flex;
    vertical-align: middle;
}

.user-username {
    color:aliceblue;
    display: flex;
    align-items: center;
    height: 50px;
    margin-left: 10px;
}


/* Post */
.post {
  margin-bottom: 30px;
}

.posts {
  width: 700px;
  margin-right: 25px;
  margin-top: 0px;
  background-color: #161b22;
  border-radius: 20px;
  padding: 20px 20px 20px 20px;
  box-sizing: border-box;
}

.post-tags {
  display: flex;
  margin-bottom: 10px;
}

.post-tag {
  width:fit-content;
  background-color: #30363d;
  border-radius: 20px;
  margin-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 12px;
  padding-right: 12px;
}

.post-tag-style { 
  text-decoration: none;
  color: #f1f1f1;
  font-weight:100;
 } 

.post-text {
  margin-top: 10px;
  margin-bottom: 20px;
   margin-left: 9px; 
}

.post-image {
    height: 400px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 10px;
}

/* Comments */

.post-bottom {
  align-items: center;
  margin-bottom: 20px;
}

.comments_and_date {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.post-comments {
  width: fit-content;
  background-color: #30363d;
  border-radius: 20px;
  margin-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.post-comments.active{
  width: fit-content;
  background-color: #7397c0;
  border-radius: 20px;
  margin-right: 12px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
}

.dateC {

}

.block-comments {
  display: block;
}

.block-comments.active {
  display: block;
}
.block-comments-one {
  background-color: #30363d;
  height: max-content;
  margin-bottom: 5px;
  padding: 10px 30px 10px 10px;
  border-radius: 10px;

}

.user-post-delete-post-button1 {
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  position: relative;
  display: flex;
  z-index: 3;
  float: right;
  background: transparent;
  border: unset;
  cursor: pointer;
  color: aliceblue;
  font-size: 20px; 
  border-radius: 20px;
  right: 0;
}

.block-comments-one-user-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  position: relative;

}
.block-comments-one-user-info-link {
  display: flex;
}

.block-comments-one-user-pfp {
  width: 30px;
  height: 30px;
  border-radius: 20%;
  cursor: pointer;
  object-fit: cover;
}

.block-comments-one-user-username {
  margin-left: 10px;
}

.block-comments-one-user-rating {
  position: absolute;
  right: 0;
}

.block-comments-one-user-datecreated {
  display: flex;
  float: right;
  position: absolute;
  right: 0;
}

.block-comments-one-text-and-rating {
  display: flex;
  position: relative;
}

.block-comments-one-text {

}

.block-comments-one-rating {
  position: absolute;
  right: 0;
  margin-right: 10px;
}
   /* Modal */

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 3; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow:hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: flex;
  width: 800px;
  height: 600px;
  object-fit: contain;
  
}

/* Caption of Modal Image */
/* #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
} */

/* Add Animation */
.modal-content, #caption {  
  animation-name: zoom;
  animation-duration: 0.4s;
}

@keyframes zoom {
  from {transform: scale(0.1)} 
  to {transform: scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }

  .comment1 {
    margin: 10px 0;
    padding: 10px;
    border: unset;
    border-bottom: 2px solid #30363d;
    outline: none;
    background-color:#161b22;
    color: aliceblue;
  }


  .button-comment {
    padding: 10px;
    background: #30363d;
    border: unset;
    cursor: pointer;
    color: aliceblue;
    margin-left: 10px;
    border-radius: 4px;
  }


  /* TAGS */

  .right-block {
    width: 250px;
    margin-left: 25px;
    box-sizing: border-box;
    border-radius: 20px;
  }

  .right-block-tags {
    background-color: #161b22;
    padding: 20px 20px 20px 20px;
    text-align: center;
    border-radius: 20px;
  } 

  .right-block-tags-tag {
    position: relative;
  }

  .right-block-tags-tag p {
    position: absolute; 
    top: 50%;   
    height: 100%;
    text-align: center;    
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .tag-anime {
    height: 100px;
    width: 170px;
    margin-bottom: 10px;
    object-fit: cover;
    background: grey;
    opacity: 0.3;
    border-radius: 15px;
  }

  /* .tag-anime:hover {
    opacity: 0.8;
  } */

  @media (max-width: 600px)
  {
  .posts {
    width: 700px;
    margin: 10px 10px 10px 10px ;
  }
  .intro {
    width: 700px;
  }
  .main1 {
    width: 700px;
  }
}