.tag-information {
    background-color: #161b22;
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
}

.tag-information-top {
    display: flex;
}

.tag-information-top-pfp-edit {
    display: flex;
    position: relative;
    width: 180px;
}

input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #555;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}


.tag-information-top-pfp-edit-button {
    position: absolute;
    top: 25;
    right: 0;
    background-color: #555;
    color: white;
    font-size: 16px;
    height: 30px;
    width: 30px;
    border: none;
    cursor: pointer;
    border-radius: 20px;

}

.tag-information-top-pfp-edit-button p{
    text-align: center;
    vertical-align: middle;

}
.tag-information-image {
    height: 100px;
    width: 180px;
    border-radius: 20px;
    object-fit: cover;
}

.tag-information-nlf {
    margin-left: 10px;
}

.tag-information-name {
    font-size: 22px;
}

.tag-information-description {
    font-size: 12px;
}

.tag-information-bottom {
    display: flex;
}

.tag-information-bottom-info {
    margin-right: 10px;
}

.right-block-moderators {
    background-color: #161b22;
    padding: 20px 20px 20px 20px;
    /* text-align: center; */
    border-radius: 20px;
    margin-top: 20px;
  } 

  .right-block-moderators-name {
    margin-bottom: 5px;
    }

  .right-block-moderators-list {
      text-align: center;
  }

  .right-block-moderators-each {
      width: 100%;
      height: 50px;
      margin-right: 10px;
      display: flex;
      vertical-align: middle;
    }

    .right-block-moderators-each-pfp {
        width: 40px;
        height: 40px;
        border-radius: 20%;
        cursor: pointer;
        object-fit: cover;
        margin-right: 5px;
        
    }
    .right-block-moderators-each-name {
        font-size: 14px;
        text-align: left;
    }

    .right-block-moderators-each-name-date {
        font-size: 11px;
      }
  .right-block-avaiable-medals {
    background-color: #161b22;
    padding: 20px 20px 20px 20px;
    /* text-align: center; */
    border-radius: 20px;
    margin-top: 20px;
  } 
  
  .right-block-avaiable-medals-list {
    text-align: center;
    display: flex;
}

.right-block-avaiable-medals-each {
    width: 50px;
    margin-right: 10px;
}

.right-block-avaiable-medals-each-name {
    font-size: 14px;
}


